.container {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    border: 1px solid green;
    margin: 40px;
    /* width: 100%; */
    /* background-color: white; */
}

.left {
    width: 60%;
    /* height: 400px; */
    /* background-color: white; */
}

.right {
    /* background-color: white; */
}

@media screen and (max-width: 1459px) {
    .container {
        flex-direction: column;
        text-align: center;
        justify-content: center; /* Center the child div horizontally */
        align-items: center; /* Center the child div vertically */    
    }

}

