.container {
    margin: 0 auto;
    display: flex;
    margin: 40px;
    margin-bottom: 10px;
}

@media screen and (max-width: 1459px) {
    .container {
        flex-direction: column;
        text-align: center;
        justify-content: center; /* Center the child div horizontally */
        align-items: center; /* Center the child div vertically */    
    }

}

