.chart {
    background-color: white;
    width: 900px; /* Set the width of the parent div */
    height: 400px; /* Set the height of the parent div */
  }


  @media screen and (max-width: 1236px) {
    .chart {
      width: 100%; /* Set the width of the parent div */
      height: 60%; /* Set the height of the parent div */
    }
  }